

html{
    margin:0;
    background-color: antiquewhite;
}
body{
    margin:auto;
    max-width: 100em;
    
}
h1{
    text-align:center;
    font-size: 70px;
}
h2{
    text-align:center;
    font-size: 50px;
}

.answer{
    font-size: 70px;
    text-align: center;
}

.btn-ans-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*buttons*/
button{
    width: 200px; 
    height: 100px;
    font-size: 50px;
    cursor: pointer;
   
    background-color: rgb(163, 152, 132);
    border: 1px solid black;

}
.button-fade-out{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    animation-name: fade-out;
    animation-duration: 2s;
}

.game-status-div{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top:0;
    left:0;
    background-color: rgba(21, 20, 19, 0.625); 
    z-index: 2; 
}
.game-status-div div{
    position: fixed; 
    display: inherit; 
    width: 50%; 
    height: 50%; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite; 
    z-index: 2; 

    border-radius: 10px;
    display: block;
    justify-content: center;
    text-align: center;

    animation-name: pop-up;
    animation-duration: 1s;
}
.game-status-div p{
    font-size: 30px;
    margin: 50px auto;
}
.replay{
    font-size: 30px;
    margin: 50px auto;
}

.disabled-button{
    opacity:0.6;
    cursor: not-allowed;
    pointer-events: none;
}


.hang-man-div{
    background-color: rgb(251, 243, 231);
    height: 400px;
}
.answer{
    margin: 100px auto auto auto;
}
.heart-dies{
    position: relative;
    opacity: 0;
    animation-name: heart-dies;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes pop-up{
    from{
        width: 10%;
        height: 10%;
    }
    to{
        width: 50%;
        height: 50%;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

@keyframes heart-dies{
    from{
        opacity:1;
        top:0;
    }
    to{
        opacity:0;
        top: 50px;
    }
}
